In [12]:
import pandas as pd
test_file = pd.read_json("../preprocessing_output/preprocessed_test_SPH_1e-4.json")
test_file

           id                                              token author
0     id18154           [the, first, of, was, by, a, of, the, .]    EAP
1     id22950  [upon, my, ,, too, ,, i, felt, very, oh, ,, an...    EAP
2     id25862  [vast, ,, like, ,, and, ,, it, like, a, of, to...    HPL
3     id21059  [he, who, sat, near, raymond, was, a, story, ,...    MWS
4     id24764  [it, was, the, i, have, mentioned, ,, for, my,...    HPL
...       ...                                                ...    ...
3911  id21442  [the, it, was, there, that, is, to, say, ,, it...    EAP
3912  id11892                               [", ", said, the, .]    EAP
3913  id22323  [he, had, her, then, to, a, more, ,, and, abou...    MWS
3914  id13829  [he, was, alone, ,, and, his, first, was, to, ...    HPL
3915  id00792  [but, now, there, came, from, out, the, a, low...    EAP

[3916 rows x 3 columns]

In [13]:
test_predictions = pd.read_json("./predicions.json")
test_predictions

        0
0     EAP
1     MWS
2     HPL
3     HPL
4     HPL
...   ...
3911  HPL
3912  EAP
3913  HPL
3914  EAP
3915  EAP

[3916 rows x 1 columns]

In [14]:
test_file["predictions"] = test_predictions
test_file.groupby(["author", "predictions"]).size().unstack(fill_value=0)

predictions   EAP  HPL  MWS
author
EAP          1214  236   93
HPL           180  936   29
MWS           275  171  782

In [15]:
from sklearn.metrics import accuracy_score, recall_score, precision_score

print("accuracy: ", accuracy_score(test_file["author"], test_file["predictions"]))
print("recall: ", recall_score(test_file["author"], test_file["predictions"], average="micro"))
print("precision: ", precision_score(test_file["author"], test_file["predictions"], average="micro"))

accuracy:  0.7487231869254342
recall:  0.7487231869254342
precision:  0.7487231869254342

In [17]:
test_file.loc["author", "predictions"]

KeyError: 'author'

In [ ]:
import evaluation